domoticz_repost
[{"id":"4edceb8a.30ea74","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"afa72ca9.8cb2f","type":"mqtt in","z":"4edceb8a.30ea74","name":"","topic":"domoticz/out","qos":"2","broker":"d2b92aa1.024f48","x":281,"y":233,"wires":[["cc40623.64958a"]]},{"id":"b25b8894.d2ba98","type":"debug","z":"4edceb8a.30ea74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":851,"y":197,"wires":[]},{"id":"cc40623.64958a","type":"json","z":"4edceb8a.30ea74","name":"","property":"payload","action":"","pretty":false,"x":450,"y":233,"wires":[["2034e539.0e0c2a"]]},{"id":"8b40486c.33f2d8","type":"mqtt out","z":"4edceb8a.30ea74","name":"","topic":"","qos":"","retain":"","broker":"d2b92aa1.024f48","x":831,"y":266,"wires":[]},{"id":"60d86367.84da7c","type":"comment","z":"4edceb8a.30ea74","name":"Instructions","info":"In this example the IDX in the switch node is \nrepublished to a topic named domoticz/out/[devicename]\nthe repub function translate value 1 to ON","x":279,"y":194,"wires":[]},{"id":"2034e539.0e0c2a","type":"function","z":"4edceb8a.30ea74","name":"Repub","func":"msg.topic = \"domoticz/out/idx/\"+msg.payload.idx;\n\nreturn msg;","outputs":1,"noerr":0,"x":621,"y":234,"wires":[["b25b8894.d2ba98","8b40486c.33f2d8"]]},{"id":"d2b92aa1.024f48","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""}]
